<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar bg-body-tertiary fixed-top" th:fragment="navigationbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <div>Share My List</div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="탐색 전환">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    <div>Share my list</div>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="닫다"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="search playlist or card"
                            aria-label="찾다" />
                        <button class="btn btn-outline-success" type="submit">
                            <div></div>search
                        </button>
                    </form>

                    <li class="nav-item">
                        <div th:if="${loggedInUserInfo == null}">
                            <a class="nav-link" href="/userlogin">Login</a>
                            <a class="nav-link" href="/#">Join</a>
                        </div>
                        <div th:if="${loggedInUserInfo != null}">
                            <a>Welcome <span th:text="${loggedInUserInfo.userName}"></span> !</a>
                            <a class="nav-link" href="#">My Accounts</a>
                            <a class="nav-link" href="/playlist">My PlayList</a>
                            <a class="nav-link" href="/linkupload">add Card</a>
                            <a class="nav-link" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
                <!-- 사이드 바 끝 -->
            </div>
        </div>
    </div>
</nav>