<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>SML - Upload Card link</title>
</head>

<body class="p-3 m-0 border-0 bg-example m-0 border-0 ">
<nav th:replace="~{fragments/navigationbar :: navigationbar}"></nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="modal-body">
                    <p th:if="${error == 'invalidYouTubeLink'}"> 올바른 링크가 아닙니다</p>
                    <p th:if="${error == 'noVideoMetaDate'}"> 호환되지않는 링크입니다</p>
                </div>

                <form action="/submitYoutubeLink" method="post">
                    <label for="youtubeLinkInput" class="form-label">유튜브 링크 입력</label>
                    <input type="url" name="youtubeLink" placeholder="https://youtu.be/92volEdYcCQ?si=kcu_Fi9bL3eDln6e"
                           id="youtubeLinkInput" class="form-control" aria-describedby="linkHelpBlock" required>
                    <div id="linkHelpBlock" class="form-text">
                        원하는 영상 페이지에서 "공유" 버튼을 클릭한 후 나오는 링크를 여기에 입력해 주세요.
                    </div>
                    <div class="col-12 pt-3">
                        <p> 추가할 플레이리스트를 선택해 주세요</p>
                        <div class="list-group">
                            <p th:if="${error == 'emptyPlaylist'}">플레이 리스트가 없습니다 플레이리스트를 만들어주세요.</p>
                            <select class="form-select" name="playlistIdx" aria-label="플레이리스트 선택">
                                <option th:each="playlist : ${playlistByUser}" th:value="${playlist.playlistIdx}" th:text="${playlist.playlistName}">Playlist name</option>
                            </select>
                            <button type="submit" class="btn btn-primary mt-2">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>